.Header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    background-color: var(--background-nav);

    .Header__logo-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        width: 100%;

        .Header__logo-img{
            position: relative;
            width: 100px;
            height: 100px;
        }

        h2{
            font-size: 3rem;
            font-weight: 700;
            margin-left: 1rem;
            color: var(--red-color);
            
            .color-blue{
                color: var(--blue-color);
            }

            .color-orange{
                color: var(--orange-color);
            }
        }
    }

    .Header__user{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: flex-end;

        .Header__search{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            padding: 0.2rem 0.5rem;
            margin-right: 1rem;
            height: 40px;
            background-color: var(--white-color);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            position: relative;
            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--black-color);

                &::placeholder{
                    color: var(--black-color);
                }
            }
            button{
                border: none;
                outline: none;
                background-color: transparent;
                margin-left: 1rem;
                cursor: pointer;
                position: absolute;
                right: 10px;
            }

            svg{
                width: 20px;
                height: 20px;
                color: var(--orange-color);
            }
            
        }

        .Header__user-container{

            .Header__user-img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 1rem;
            }

            .Header__user-name{
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--white-color);
            }
        }
    }
}