*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --red-color: #FF1016;
    --blue-color: #00D3FF;
    --orange-color: #FFB533;
    --white-color: #FFFFFF;
    --background-nav: #22333B;
}


.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f2f6f8;
}