*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --red-color: #FF1016;
    --blue-color: #00D3FF;
    --orange-color: #FFB533;
    --white-color: #FFFFFF;
    --background-nav: #22333B;
}